{% import "shared/macros.md.j2" as shared %}
{{ shared.generic_table_section(
    "Additional Specs",
    ["Page", "Spec", "Introduced", "Latest", "Removed", "Changed In Versions", "Entities"],
    rows
) }}
